$primary: #0277bd;
$primary-light: #58a5f0;
$primary-dark: #004c8c;
$secondary: #1a237e;
$secondary-light: #534bae;
$secondary-dark: #000051;
$text: #ffffff;

.postRoll {
  flex-grow: 1;
  height: 100%;

  .post {
    background: $secondary-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #230049;

    .headerPost {
      height: 55px;
      flex-grow: 1;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      .postTitleContainer {
        h1 {
          overflow: hidden;
          white-space: nowrap;
          margin-left: 21px;
          width: calc(55vw - 55px);
          font-size: 1em;
          text-overflow: ellipsis;
          font-weight: 700;
        }

        @media (max-width: 320px) {
          h1 {
            width: 144px;
          }
        }
      }

      .widgetsContainer {
        display: flex;
        margin-right: 21px;
        margin-left: 13px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: max-content;

        h4 {
          font-weight: 700;
          background: $primary;
          border-radius: 5px;
          padding: 5px;
          margin-left: 5px;
          font-size: 13px;
        }

        h3 {
          margin: 0 13px;
          font-size: 13px;
          color: #b0a8c8;
          white-space: nowrap;
        }
      }
    }

    .mainPost {
      display: flex;
      flex-wrap: wrap;

      .previewImage {
        width: calc(100% - 42px);
        height: 233px;
        border-radius: 21px;
        object-fit: cover;
        margin: 0 21px;
      }

      .postDataPreview {
        display: flex;
        flex-direction: column;
        margin: 0 21px;

        .user {
          display: flex;
          width: 144px;
          height: 34px;
          align-items: center;
          margin-top: 13px;
          border-radius: 21px;

          .avatar {
            height: 34px;
            width: 34px;
            margin-right: 5px;

            img {
              height: 34px;
              width: 34px;
            }
          }

          .userInformation {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            p {
              font-size: 8px;
              height: 8px;
              font-weight: 800;
              margin-bottom: 2px;
              line-height: 8px;
              margin: 0;
              padding: 0;
            }

            h1 {
              white-space: nowrap;
              line-height: 13px;
              font-size: 13px;
              font-weight: 700;
              margin: 0;
              padding: 0;
            }
          }
        }

        p {
          height: calc(17px * 5);
          width: 89%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #b0a8c8;
          font-size: 13px;
          line-height: 17px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }

      @media (min-width: 425px) {
        flex-wrap: nowrap;

        .previewImage {
          width: 233px;
          margin-right: 0;
          height: 233px;
        }
      }
    }

    .footerPost {
      height: 89px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .subjectAndChecked {
        display: flex;
        flex-direction: row;

        h1 {
          font-size: 1rem;
          line-height: 13px;
          background-color: #2980b9;
          padding: 5px;
          border-radius: 5px;
          font-weight: 700;
          margin-left: 21px;
        }

        span {
          background: #2ecc71;
          margin: 0 3px;
          font-size: 21px;
          line-height: 21px;
          border-radius: 13px;
        }
      }

      .commentBox {
        display: flex;
        flex-wrap: nowrap;
        margin-right: 21px;
        padding: 5px;
        border-radius: 5px;

        span {
          font-size: 13px;
          background: transparent;
          color: #b0a8c8;
          line-height: 13px;
        }

        p {
          color: #b0a8c8;
          line-height: 13px;
          font-weight: 400;
          font-size: 13px;
          margin: 0 3px;
        }
      }

      .commentBox:hover {
        background-color: #2e004f;
      }
    }
  }
}
