$primary: #0277bd;
$primary-light: #58a5f0;
$primary-dark: #004c8c;
$secondary: #1a237e;
$secondary-light: #534bae;
$secondary-dark: #000051;
$text: #ffffff;

.root {
  color: #fcfcfd;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
