.root {
  color: #fcfcfd;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;

  .header {
    background: #1a0043;
    width: 100vw;
    height: 89px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    left: 0;

    .logo {
      display: flex;
      align-items: center;
      flex-direction: row;

      .logoAnchor {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 21px;
      }

      @media (max-width: 555px) {
        .logoAnchor {
          margin: 0 auto;
        }
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: center;

      .searchArea {
        width: 377px;
        height: 34px;
        display: flex;
        align-items: center;
        border: 1px solid #fcfcfd;
        border-radius: 21px;
        padding: 5px;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 21px;
          height: 21px;
          margin: 0 8px;
          font-weight: 100;
          font-size: 21px;
          color: #fcfcfd;
        }

        input {
          box-shadow: none;
          padding: 0 3px;
          border: none;
        }
      }

      @media (max-width: 555px) {
        .searchArea {
          width: max-content;
        }
      }
    }

    .headerMenu {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      div {
        display: flex;
        margin: 0 21px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55px;
          height: 55px;
          margin: 0 5px;
        }

        a:hover {
          background: #2e004f;
        }
      }
    }

    .headerMenuMobile {
      display: none;
      align-items: center;
      justify-content: flex-end;

      .headerMenuMobileAnchor {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 21px;
      }

      @media (max-width: 555px) {
        .headerMenuMobileAnchor {
          margin: 0 auto;
        }
      }
    }

    @media (max-width: 987px) {
      .headerMenu {
        display: none;
      }

      .headerMenuMobile {
        display: flex;
      }
    }
  }

  .main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    .leftMenu {
      background: #0b0036;
      width: 55px;
      height: calc(100vh - 89px);
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      overflow: hidden;
      position: sticky;
      top: 89px;

      a {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:hover {
        background: #1a0043;
      }
    }

    .postRoll {
      width: 610px;

      .post {
        background: #050030;
        height: 233px;

        .headerPost {
          background: #12003d;
          height: 21%;
          display: flex;
          flex-wrap: nowrap;
        }
      }
    }

    .userData {
      background: #12003d;
      height: calc(100vh - 89px);
      flex-grow: 1;
      position: sticky;
      top: 89px;

      div {
        background: #230049;
        height: 21%;
        display: flex;
        align-items: center;

        .intradayData {
          display: flex;
          height: 5em;
          padding: 3px 0;
          margin: 0 auto;
          align-items: center;
          justify-content: center;
          background: #45005b;
          border-radius: 8px;

          .currentIntraday {
            background: transparent;
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-right: 1px solid #735492;

            .intradayHours {
              font-size: 21px;
              line-height: 21px;
            }

            .day {
              font-size: 13px;
              line-height: 13px;
            }

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 5px 0;

              span {
                font-size: 13px;
                line-height: 13px;
                margin: 0 2px;
              }

              p {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
              }
            }
          }

          .currentSubject {
            background: transparent;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            .subject {
              font-size: 89%;
              line-height: 89%;
              background-color: #2980b9;
              padding: 5px;
              border-radius: 5px;
              font-weight: 700;
              margin: 0;
            }

            .themeSubject {
              color: #d4d2e3;
              line-height: 13px;
              font-size: 13px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 89%;
              margin: 2px 0;
            }
          }
        }
      }
    }
  }
}

.drawerHeader {
  h1 {
    font-weight: 800;
    color: #b0a8c8;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #230049;
  border-radius: 250px;

  .avatar {
    width: 89px;
    height: 89px;
    margin-right: 8px;
  }

  .userInformation {
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      color: #b0a8c8;
      font-size: 8px;
      font-weight: 800;
      line-height: 8px;
      margin: 0;
      padding: 0;
    }

    h1 {
      white-space: nowrap;
      line-height: 21px;
      font-size: 21px;
      font-weight: 700;
      margin-top: 2px;
      margin-bottom: 3px;
    }

    h2 {
      font-size: 13px;
      color: #d4d2e3;
    }
  }
}
