* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fcfcfd;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  width: 100%;
}

#root {
  width: 100vw;
}

.material-symbols-outlined {
  user-select: none;
}

#search-icon {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
}
