$primary: #0277bd;
$primary-light: #58a5f0;
$primary-dark: #004c8c;
$secondary: #1a237e;
$secondary-light: #534bae;
$secondary-dark: #000051;
$text: #ffffff;

.container1 {
  background: linear-gradient(
    140deg,
    $primary 0%,
    $secondary 35%,
    $secondary-dark 100%
  );

  display: flex;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 15%;
    margin: 0 min(max(5px, 1em), 13px);

    h2 {
      color: $secondary-dark;
      font-weight: 900;
      font-size: min(max(34px, 8vw), 55px);
      margin-right: 8px;
    }

    menu {
      display: flex;
      align-items: center;
      margin-left: 0 8px;

      a {
        margin: 3px;
        padding: min(max(1px, 1vw), 8px);
        font-size: min(max(13px, 5vw), 32px);
        font-weight: 700;
        color: $text;
        transition: 0.15s ease;
      }

      a:hover {
        color: $primary-light;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    height: 85%;
    margin: 0 2em;
    flex-grow: 1;

    h1 {
      margin: 0 auto;
      margin-top: 13vh;
      margin-bottom: 55px;
      text-align: center;
      font-weight: 900;
      font-size: min(max(34px, 8vw), 55px);
      color: $text;
    }

    p {
      flex-grow: 1;
      text-align: center;
      line-height: 1em;
      font-weight: 700;
      color: $text;
      font-size: min(max(13px, 5vw), 21px);
    }
  }
}

.footer {
  background: $secondary-dark;
  display: flex;

  div {
    display: flex;
    flex-grow: 1;

    ul {
      display: flex;
      margin: 21px;
      flex-direction: column;
      list-style: none;
      flex-grow: 1;
      width: 50%;

      li {
        width: 50%;
        font-size: 100%;
        font-weight: 500;
      }
    }
  }
}
