$primary: #0277bd;
$primary-light: #58a5f0;
$primary-dark: #004c8c;
$secondary: #1a237e;
$secondary-light: #534bae;
$secondary-dark: #000051;
$text: #ffffff;

.container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    140deg,
    $primary 0%,
    $secondary 35%,
    $secondary-dark 100%
  );
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: $text;
      font-weight: 900;
      font-size: xx-large;
      text-align: center;
      line-height: 82px;
      padding-left: 21px;
    }
  }

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    form {
      padding: 1rem;
      text-align: center;
      color: $text;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      border-radius: 13px;
      height: 21em;

      h2 {
        margin: 0 0 8px 0;
        font-size: 1.5rem;
        font-weight: 700;
      }

      div {
        display: flex;
        align-items: flex-start;
        border: none;
        height: 5em;
        font-weight: 500;

        p {
          padding: 2px;
        }

        input {
          width: 21em;
          line-height: 2em;
          font-size: 2em;
        }

        input:focus-visible {
          border-color: black;
        }
      }

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          font-weight: 300;

          span:checked {
            background-color: #7a86b6;
          }
        }

        button {
          background: $primary;
        }

        button:hover {
          background: $primary-light;
        }
      }
    }
  }
}
