.userData {
  display: flex;
  background: #12003d;
  flex-grow: 1;
  height: 233px;

  .headerUserData {
    background: #230049;
    display: flex;
    height: min-content;
    align-items: center;
    flex-wrap: wrap;

    .user {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-start;
      border-radius: 250px;
      margin: 13px 0;
      margin-left: 21px;

      .avatar {
        width: 89px;
        height: 89px;
        margin-right: 8px;
      }

      .userInformation {
        display: flex;
        height: max-content;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        p {
          color: #b0a8c8;
          font-size: 8px;
          font-weight: 800;
          line-height: 8px;
          margin: 0;
          padding: 0;
        }

        h1 {
          white-space: nowrap;
          line-height: 21px;
          font-size: 21px;
          font-weight: 700;
          margin-top: 2px;
          margin-bottom: 3px;
        }

        h2 {
          font-size: 13px;
          color: #d4d2e3;
        }
      }
    }

    .intradayData {
      display: flex;
      height: 5em;
      flex-grow: 1;
      padding: 3px 0;
      margin: 0 21px;
      align-items: center;
      justify-content: center;
      background: #312f31;
      border-radius: 8px;

      .currentIntraday {
        background: transparent;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #735492;

        .intradayHours {
          font-size: 21px;
          line-height: 21px;
        }

        .day {
          font-size: 13px;
          line-height: 13px;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5px 0;

          span {
            font-size: 13px;
            line-height: 13px;
            margin: 0 2px;
          }

          p {
            font-size: 13px;
            line-height: 13px;
            font-weight: 600;
          }
        }
      }

      .currentSubject {
        background: transparent;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        .subject {
          font-size: 89%;
          line-height: 89%;
          background-color: #2980b9;
          padding: 5px;
          border-radius: 5px;
          font-weight: 700;
          margin: 0;
        }

        .themeSubject {
          color: #d4d2e3;
          line-height: 13px;
          font-size: 13px;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 89%;
          margin: 2px auto;
        }
      }
    }
  }

  .mainUserData {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;

    .absence {
      background: #2980b9;
      min-width: 89px;
      width: 21%;
      height: 89px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 21px auto;

      h1 {
        font-weight: 700;
      }

      p {
        background: #45005b;
        padding: 5px 13px;
        border-radius: 5px;
        font-weight: 900;
        font-size: 21px;
        line-height: 21px;
      }
    }

    .attendancePercentage {
      background: #2980b9;
      width: 21%;
      min-width: 89px;
      height: 89px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 21px auto;

      h1 {
        font-weight: 700;
      }

      p {
        background: #45005b;
        padding: 5px 13px;
        border-radius: 5px;
        font-weight: 900;
        font-size: 21px;
        line-height: 21px;
      }
    }

    .classroomAmount {
      background: #2980b9;
      min-width: 89px;
      width: 21%;
      height: 89px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 21px auto;

      h1 {
        font-weight: 700;
      }

      p {
        background: #45005b;
        padding: 5px 13px;
        border-radius: 5px;
        font-weight: 900;
        font-size: 21px;
        line-height: 21px;
      }
    }
  }
}
